services:
  postgres:
    container_name: postgres_container
    image: postgres:16.4
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - PGDATA=/var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes: 
      - postgres:/var/lib/postgresql/data
    networks:
      - postgres-network

  pgadmin:
    depends_on:
      - postgres
    container_name: pgadmin_container
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"
    networks:
      - postgres-network

  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    volumes:
      - dragonflydata:/data

networks:
  postgres-network:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  dragonflydata: